.container {
    padding: 40px;
  
    background: #f0f8ff;
    box-sizing: border-box;
  }

  .container h2{
    margin-bottom: 5px;
    font-size:2.6rem;
    text-align: center;


}
.container h3{
    font-weight: 400;
    font-size:1.3rem;
    text-align: center;
    margin-bottom:20px

}
  .slick-prev:before,
.slick-next:before {
  color: #007FFF !important;
  font-size: 30px !important;

  
}
  .slide-content{
    box-shadow: 6px 6px 10px #b2b2b2;
    z-index: 4;
    text-align: left;
    padding: 30px;
    width: 350px;
    margin: 10px auto;
    height: 350px;
    background: white;
    border-radius: 20px;
  }
  .test-image img{
    width: 80px;
    height: 80px;
    border-radius:50%;
  }
  .slide-content h3{
    margin: 20px 0 5px;
    font-size: 1.5em;
    text-align:left;
  }
  .slide-content h4{
    margin: 5px 0;
    font-weight: 500;
    font-size:1em;
    color:#888;
  }
  .slide-content p{
    margin:5px 0;
    font-size: 1.1em;
  }


  .explore{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color:#007FFF;
    padding: 10px 0;
    border-radius:15px;
    text-align: center;
    width: 250px;
   
    font-size: 15px;
}

@media (max-width: 460px) {
  .slide-content{
    padding: 20px 3px;
    box-shadow: 0px 0px;
    
    border-radius:0;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #007FFF !important;
    font-size: 20px !important;
  
    
  }
  .slide-content h3{
    margin: 5px;
  }
  .container{
    padding: 10px;
  }

}