@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300;600&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color:whitesmoke;
}
.navbar{
  width: 100%;
  height: 40px;
  background-color:whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 10px;
 
}

.navbar .navbar-icon{
  color:#0000FF;
  font-size: 1.5em;
  margin-right: 5px;

}
.navbar .navbar-text h3{
  font-weight: 600;
  font-family: 'Anek Malayalam', sans-serif;
  font-size:1.1em;
  margin-bottom:5px;
  
}

.header{
  display:flex;
  flex-direction:column;
  text-align:center;
  padding-top:5px;
  padding-bottom:10px;
}

.header h1{
  font-size:2.5em;
  font-family: 'Anek Malayalam', sans-serif;
  font-weight:600;
}

.header h3{
  font-weight:600;
  font-size:1.5em;
  margin-top: -5px;
  font-family: 'Anek Malayalam', sans-serif;
  color:rgb(67, 67, 67);
}


.TagCard {
  width:100%;
  height:100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.tagcard-bg {

  background-color:#007FFF;
  box-shadow: 6px 6px 10px #b2b2b2;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background:url(./assets/bg.jpg);
  border-radius:30px;
  padding:5%;
  background-size: cover;

}

.tagcard-bg h2{
 
  font-size:2.5rem;

}

.tagcard-bg p{
  color:#222;
  margin-top:50px;
  font-weight:400;
  font-size:1.5rem;
  
}


.r-header{
  text-align: center;
  padding-bottom: 50px;
}
.r-header h2{
 
  font-size:2.5rem;

}

.r-header p{
  color:#222;
 
  font-size:1.5rem;
}

@media only screen and (max-width: 600px){

  .tagcard-bg{
    padding:40px 15px;
    height:max-content;
  }
  .tagcard-bg h2{
 
    font-size:2rem;
  
  }
  .tagcard-bg p{
 
    font-size:1.4rem;
    color:rgb(70, 70, 70);
    font-weight:400;
  }
}